<header>
<h1>TT Web Component Forms Integration Showcase</h1>
</header>
<main>
  <form [formGroup]="form">
    <tt-input >
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name"/>
    </tt-input>
    <tt-input>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" formControlName="lastName"/>
    </tt-input>
    <tt-input >
      <label for="age">Age</label>
      <input type="number" id="age" formControlName="age"/>
      <span>years</span>
    </tt-input>
  </form>
  <hr>
  <section>
    <span>{{form.value | json}}</span>
  </section>
</main>
